@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff"), url("../fonts/Mulish-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff"), url("../fonts/Mulish-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff"), url("../fonts/Mulish-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-ExtraBold.woff"), url("../fonts/Mulish-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff"), url("../fonts/Gilroy-Light.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff"), url("../fonts/Gilroy-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text: #151515;
  --accent-green: #38c19d;
  --accent-purple: #6416ca;
  --white: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  background-color: #f7f7fd;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "Gilroy", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.3;
  color: var(--text);
  text-align: center;
}
@media (max-width: 767px) {
  .title {
    font-size: 22px;
  }
}

.header {
  padding: 20px 0 0;
  position: relative;
  z-index: 1;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .nav {
  margin-left: auto;
}
.header .nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 46px;
       column-gap: 46px;
}
.header .nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--text);
  transition: 0.2s linear;
}
@media (hover: hover) {
  .header .nav__link:hover {
    color: var(--accent-green);
  }
}
.header .nav__tel {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--text);
}
.header__tel {
  width: 18px;
  height: 18px;
  margin-left: auto;
}
.header__tel svg {
  fill: var(--accent-green);
}
.header .hamburger {
  display: none;
  margin-left: 20px;
  width: 19px;
  height: 18px;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 4;
}
.header .hamburger span {
  width: 19px;
  height: 1px;
  background: var(--text);
  position: relative;
  transition: all 0.3s linear;
  border-radius: 0.5px;
}
.header .hamburger span::before {
  content: "";
  width: 19px;
  height: 1px;
  position: absolute;
  left: 0;
  border-radius: 0.5px;
  background: var(--text);
  transition: all 0.3s linear;
  transform: translateY(-6px);
}
.header .hamburger span::after {
  content: "";
  width: 19px;
  height: 1px;
  position: absolute;
  left: 0;
  border-radius: 0.5px;
  background: var(--text);
  transition: all 0.3s linear;
  transform: translateY(6px);
}
.header .hamburger--active span {
  width: 19px;
  height: 1px;
  position: relative;
  background: transparent;
}
.header .hamburger--active span::before {
  transform: rotate(45deg);
  background: var(--text);
}
.header .hamburger--active span::after {
  transform: rotate(-45deg);
  background: var(--text);
}

@media (max-width: 992px) {
  .header {
    padding: 15px 0 0;
  }
  .header .nav {
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px;
    background: var(--white);
    z-index: 3;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    border: 1px solid var(--accent-green);
  }
  .header .nav--active {
    opacity: 1;
    visibility: visible;
  }
  .header .nav__list {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
  .header .nav__link {
    font-size: 16px;
  }
  .header .hamburger {
    display: flex;
  }
}
@media (max-width: 576px) {
  .header__logo {
    max-width: 83px;
  }
}
.intro {
  position: relative;
}
.intro__wrapper {
  padding: 100px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.intro__left {
  position: relative;
}
.intro__title {
  max-width: 600px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.16;
  color: var(--text);
}
.intro__subtitle {
  max-width: 600px;
  margin-top: 28px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text);
}
.intro__img {
  max-width: 400px;
  margin-left: auto;
  position: relative;
  background-image: url("../images/intro/intro-icon-bg-green.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.intro__img img {
  z-index: 1;
}
.intro__right {
  margin-left: auto;
}
.intro__right-img {
  position: relative;
  transform: translate(90px, -60px);
}
.intro__right-img2 {
  display: none;
}
.intro__right .info {
  width: 200px;
  padding: 43px 13px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5.5px;
  background: linear-gradient(131.44deg, rgba(182, 238, 223, 0.45) 0.23%, rgba(209, 248, 238, 0.45) 107.61%);
  -webkit-backdrop-filter: blur(9.22445px);
          backdrop-filter: blur(9.22445px);
  position: absolute;
  top: 240px;
  right: 390px;
  z-index: 2;
}
.intro__right .info__arrow {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
}
.intro__right .info2 {
  width: 155px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5.5px;
  background-color: var(--accent-purple);
  position: absolute;
  top: 380px;
  right: 75px;
  z-index: 2;
}
.intro__right .info2__text {
  margin-top: 9px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
}

@media (max-width: 1169px) {
  .intro__img {
    max-width: 350px;
  }
}
@media (max-width: 991px) {
  .intro__wrapper {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
  }
  .intro__title {
    text-align: center;
  }
  .intro__subtitle {
    text-align: center;
  }
  .intro__img {
    margin: 50px auto 0;
  }
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 26px;
  }
  .intro__subtitle {
    margin-top: 20px;
    font-size: 16px;
  }
  .intro__img {
    margin: 25px auto 0;
    max-width: 290px;
  }
}
.about {
  padding: 75px 0;
  position: relative;
  z-index: 1;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.about__list .item {
  padding: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text);
  border: 1px solid #abc2bc;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
  position: relative;
  overflow: hidden;
}
.about__list .item-icon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/features/icon-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about__list .item-icon img {
  width: 50px;
}
.about__list .item-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
}

@media (max-width: 991px) {
  .about__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__list .item:last-child {
    grid-column: 1/3;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 50px 0;
  }
  .about__list {
    grid-template-columns: 1fr;
  }
  .about__list .item {
    padding: 20px;
    grid-column: 1/2 !important;
  }
  .about__list .item-text {
    text-align: center;
  }
}
.vision {
  padding: 75px 0;
}
.vision__bg {
  width: 100%;
  height: 100%;
  transform: translateY(-385px);
  position: absolute;
  background-image: url("../images/get/get-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
.vision__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 15px;
  position: relative;
}
.vision__items:before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--accent-green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vision__item {
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.vision__item:nth-child(1), .vision__item:nth-child(4) {
  background-color: var(--accent-green);
}
.vision__item:nth-child(1) .vision__item-icon svg, .vision__item:nth-child(4) .vision__item-icon svg {
  fill: var(--white);
}
.vision__item:nth-child(1) .vision__item-text, .vision__item:nth-child(4) .vision__item-text {
  color: var(--white);
}
.vision__item:nth-child(2), .vision__item:nth-child(3) {
  background-color: var(--white);
}
.vision__item:nth-child(2) .vision__item-icon svg, .vision__item:nth-child(3) .vision__item-icon svg {
  fill: var(--accent-green);
}
.vision__item:nth-child(2) .vision__item-text, .vision__item:nth-child(3) .vision__item-text {
  color: var(--text);
}
.vision__item-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
}
.vision__item-icon {
  min-width: 50px;
  width: 50px;
}
.vision__item-icon svg {
  width: 50px;
}

@media (max-width: 991px) {
  .vision__item {
    padding: 35px;
    row-gap: 25px;
  }
}
@media (max-width: 767px) {
  .vision {
    padding: 50px 0;
  }
  .vision__items {
    grid-template-columns: 1fr;
  }
  .vision__items::before {
    content: none;
  }
  .vision__item {
    padding: 20px;
  }
  .vision__item:nth-child(odd) {
    background-color: var(--accent-green);
  }
  .vision__item:nth-child(odd) .vision__item-icon svg {
    fill: var(--white);
  }
  .vision__item:nth-child(odd) .vision__item-text {
    color: var(--white);
  }
  .vision__item:nth-child(even) {
    background-color: var(--white);
  }
  .vision__item:nth-child(even) .vision__item-icon svg {
    fill: var(--accent-green);
  }
  .vision__item:nth-child(even) .vision__item-text {
    color: var(--text);
  }
}
.decisions {
  padding: 75px 0;
}
.decisions__text {
  margin-top: 30px;
}
.decisions__text p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
}
.decisions__text p:not(:first-child) {
  margin-top: 10px;
}
.decisions__items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.decisions .item {
  padding: 20px;
  border: 1px solid #abc2bc;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.decisions .item-icon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/features/icon-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.decisions .item-icon img {
  width: 50px;
}
.decisions .item-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
}

@media (max-width: 992px) {
  .decisions__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .decisions__items .item:nth-child(3) {
    grid-column: 1/3;
  }
}
@media (max-width: 767px) {
  .decisions {
    padding: 50px 0;
  }
  .decisions__items {
    grid-template-columns: 1fr;
  }
  .decisions__items .item:nth-child(3) {
    grid-column: 1/2;
  }
  .decisions__items .item-text {
    text-align: center;
  }
}
.benefits {
  padding: 75px 0;
  position: relative;
}
.benefits__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.benefits__list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.benefits__item {
  padding: 25px;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border: 1px solid #abc2bc;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.benefits__item-img {
  min-width: 40px;
  max-width: 40px;
}
.benefits__item-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}
.benefits__img {
  max-width: 500px;
  margin-left: auto;
}

@media (max-width: 992px) {
  .benefits__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
  .benefits__img {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .benefits {
    padding: 50px 0;
  }
  .benefits__list {
    row-gap: 15px;
  }
  .benefits__item {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .benefits__item-icon {
    margin: 0;
  }
  .benefits__item-text {
    margin-top: 15px;
    text-align: center;
  }
}
.features {
  padding: 75px 0;
}
.features__title {
  max-width: 450px;
  margin: 0 auto;
}
.features__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.features .item {
  padding: 25px;
  border: 1px solid #abc2bc;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.features .item-img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  background-image: url("../images/features/icon-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.features .item-img img {
  width: 50px;
  height: 50px;
  margin: auto;
}
.features .item-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  text-align: center;
}

@media (max-width: 991px) {
  .features__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .features {
    padding: 50px 0;
  }
  .features__items {
    grid-template-columns: 1fr;
  }
  .features .item {
    min-height: auto;
    padding: 20px;
  }
}
.assess {
  padding: 75px 0;
}
.assess__bg {
  width: 100%;
  height: 100%;
  transform: translateY(-215px);
  position: absolute;
  background-image: url("../images/assess/asses-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
.assess__title {
  max-width: 450px;
  margin: 0 auto;
}
.assess__wrapper {
  position: relative;
  margin-top: 30px;
  display: flex;
}
.assess__img {
  position: absolute;
  transform: translateX(-97px);
}
.assess__img img {
  width: 583px;
}
.assess__items {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(2, 322px);
  gap: 15px;
}
.assess .item {
  padding: 22px 36px 36px;
  background: #ffffff;
  box-shadow: 0px 14.062px 18.7px rgba(210, 210, 210, 0.68);
  border-radius: 15px;
}
.assess .item-num {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.16;
  color: var(--accent-green);
}
.assess .item-text {
  margin-top: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

@media (max-width: 1350px) {
  .assess__img {
    position: relative;
    transform: translateX(-20px);
  }
  .assess__img img {
    width: 470px;
  }
}
@media (max-width: 1170px) {
  .assess__items {
    flex: 1 0 500px;
    grid-template-columns: repeat(2, 1fr);
  }
  .assess .item {
    padding: 22px 25px 36px;
  }
  .assess .item-text {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .assess__wrapper {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .assess__list {
    flex: 1 1 auto;
  }
  .assess__img {
    margin: 0 auto;
    transform: translateX(0);
  }
}
@media (max-width: 767px) {
  .assess {
    padding: 50px 0;
  }
  .assess__items {
    grid-template-columns: 1fr;
  }
  .assess .item {
    padding: 20px;
  }
  .assess .item-num {
    font-size: 22px;
  }
  .assess .item-text {
    margin-top: 10px;
  }
}
.rd {
  padding: 75px 0 150px;
}
.rd__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}
.rd__item {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  position: relative;
}
.rd__item:nth-child(even) .rd__item-top::after {
  bottom: -46px;
}
.rd__item-top {
  position: relative;
}
.rd__item-top::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -32px;
  left: 0;
  transform: translateX(-50%);
  background-color: var(--accent-green);
  border-radius: 50%;
}
.rd__item-top::after {
  content: "";
  width: 4px;
  height: 15px;
  position: absolute;
  bottom: -18px;
  left: -2px;
  background-color: var(--accent-green);
}
.rd__item div {
  flex: 1 0 50%;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
}
.rd__item div strong {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--text);
}
.rd__line {
  position: absolute;
  top: 169px;
  width: 100%;
  height: 5px;
  background-color: var(--accent-green);
}
.rd__line::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--accent-green);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}
.rd-mob__items {
  margin-top: 30px;
  position: relative;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.rd-mob__item {
  flex: 1 0 calc(50% - 25px);
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
  text-align: right;
}
.rd-mob__item:nth-child(odd)::after {
  content: "";
  width: 15px;
  height: 4px;
  position: absolute;
  top: 5px;
  right: -18px;
  background-color: var(--accent-green);
}
.rd-mob__item:nth-child(even)::after {
  content: "";
  width: 15px;
  height: 4px;
  position: absolute;
  top: 5px;
  left: -18px;
  background-color: var(--accent-green);
}
.rd-mob__item::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: -40px;
  transform: translateX(-50%);
  background-color: var(--accent-green);
  border-radius: 50%;
}
.rd-mob__item strong {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--text);
}
.rd-mob__item:nth-child(even) {
  text-align: left;
}
.rd-mob__item:nth-child(even)::before {
  right: auto;
  left: -25px;
}
.rd-mob__item:nth-child(2) {
  grid-column: 2/3;
  grid-row: -6/-5;
}
.rd-mob__item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.rd-mob__item:nth-child(4) {
  grid-column: 2/3;
  grid-row: -4/-3;
}
.rd-mob__item:nth-child(5) {
  grid-column: 1/2;
  grid-row: 5/6;
}
.rd-mob__item:nth-child(6) {
  grid-column: 2/3;
  grid-row: -2/-1;
}
.rd-mob__line {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-green);
}
.rd-mob__line::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid var(--accent-green);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -14px;
  left: -7.5px;
}

@media (max-width: 1220px) {
  .rd__items {
    display: none;
  }
  .rd__line {
    display: none;
  }
  .rd-mob__items {
    display: grid;
  }
  .rd-mob__line {
    display: block;
  }
}
@media (max-width: 767px) {
  .rd {
    padding: 50px 0;
  }
  .rd-mob__items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-left: 50px;
  }
  .rd-mob__item {
    text-align: left !important;
  }
  .rd-mob__item::after {
    top: 5px;
    left: -18px;
  }
  .rd-mob__item::before {
    right: auto;
    left: -25px;
  }
  .rd-mob__line {
    left: 25px;
  }
}
.team {
  padding: 150px 0 50px;
}
@media (max-width: 1220px) {
  .team {
    padding: 50px 0;
  }
}
.team__bg {
  width: 100%;
  height: 100%;
  transform: translateY(-200px);
  position: absolute;
  background-image: url("../images/team/team-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
.team__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.team__item {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 1px solid #abc2bc;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.team__item-img {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
}
.team__item-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
  text-align: center;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.team__item-about {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  text-align: center;
}

@media (max-width: 991px) {
  .team__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .team__item:last-child {
    grid-column: 1/3;
  }
}
@media (max-width: 767px) {
  .team__items {
    grid-template-columns: 1fr;
  }
  .team__item:last-child {
    grid-column: 1/2;
  }
  .team__item-img {
    width: 180px;
    height: 180px;
  }
}
.feedback {
  padding: 75px 0;
}
.feedback__form {
  max-width: 700px;
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.feedback__form .item:nth-child(2) {
  position: relative;
}
.feedback__form .item:nth-child(2) .item__prefix {
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: 2;
}
.feedback__form .item:nth-child(2) .item__input {
  padding-left: 56px;
}
.feedback__form .item:nth-child(3) {
  grid-column: 1/3;
}
.feedback__form .item__label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}
.feedback__form .item__input {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  border: 1px solid #abc2bc;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.feedback__form .item__message {
  width: 100%;
  min-height: 100px;
  margin-top: 5px;
  padding: 15px;
  border: 1px solid #abc2bc;
  border-radius: 10px;
  resize: vertical;
  outline: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.feedback__form-btn {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border-radius: 15px;
  grid-column: 1/3;
  background-color: var(--accent-green);
}

@media (max-width: 767px) {
  .feedback {
    padding: 50px 0;
  }
}
@media (max-width: 575px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
  .feedback__form .item:nth-child(3) {
    grid-column: 1/2;
  }
  .feedback__form-btn {
    grid-column: 1/2;
  }
}
.footer {
  margin-top: 50px;
  padding: 32px 0;
  background-color: #30263d;
}
.footer__wrapper {
  display: flex;
}
.footer__text {
  max-width: 488px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
.footer__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__tel, .footer__email {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 18.5px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  color: var(--white);
  transition: all 0.2s linear;
}
.footer__tel svg, .footer__email svg {
  fill: var(--white);
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .footer__tel:hover, .footer__email:hover {
    color: var(--accent-green);
  }
  .footer__tel:hover svg, .footer__email:hover svg {
    fill: var(--accent-green);
  }
}
@media (hover: none) {
  .footer__tel:active, .footer__email:active {
    color: var(--accent-green);
  }
  .footer__tel:active svg, .footer__email:active svg {
    fill: var(--accent-green);
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  transition: all 0.2s linear;
}
.footer__socials-link svg {
  fill: #30263d;
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .footer__socials-link:hover {
    background-color: var(--accent-green);
  }
  .footer__socials-link:hover svg {
    fill: var(--white);
  }
}
@media (hover: none) {
  .footer__socials-link:active {
    background-color: var(--accent-green);
  }
  .footer__socials-link:active svg {
    fill: var(--white);
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 32px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }
  .footer__text {
    text-align: center;
  }
  .footer__contacts {
    margin: 0;
    row-gap: 28px;
  }
  .footer__socials {
    justify-content: center;
  }
  .footer__tel, .footer__email {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .footer__text {
    font-size: 14px;
  }
  .footer__tel, .footer__email {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */