@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff"), url("../fonts/Mulish-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff"), url("../fonts/Mulish-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff"), url("../fonts/Mulish-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-ExtraBold.woff"), url("../fonts/Mulish-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff"), url("../fonts/Gilroy-Light.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff"), url("../fonts/Gilroy-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --font-1: #151515;
  --font-2: #ffffff;
  --font-3: #505050;
  --accent-green: #38c19d;
  --accent-purple: #6416ca;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  background-color: #f7f7fd;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 20px 0 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav {
  margin-left: auto;
}
.header .nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 46px;
       column-gap: 46px;
}
.header .nav__list li:last-child {
  display: none;
}
.header .nav__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.16;
  color: var(--font-1);
  transition: font-weight 0.2s ease-in-out;
}
@media (hover: hover) {
  .header .nav__link:hover {
    font-weight: 800;
  }
}
@media (hover: none) {
  .header .nav__link:active {
    font-weight: 800;
  }
}
.header .nav__tel {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--font-1);
}
.header__tel {
  margin-left: auto;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--font-1);
}
.header .hamburger {
  display: none;
  margin-left: 20px;
  width: 30px;
  height: 18px;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 4;
}
.header .hamburger span {
  width: 19px;
  height: 1px;
  background: var(--font-1);
  position: relative;
  transition: all 0.3s linear;
  border-radius: 0.5px;
}
.header .hamburger span::before {
  content: "";
  width: 19px;
  height: 1px;
  position: absolute;
  left: 0;
  border-radius: 0.5px;
  background: var(--font-1);
  transition: all 0.3s linear;
  transform: translateY(-6px);
}
.header .hamburger span::after {
  content: "";
  width: 19px;
  height: 1px;
  position: absolute;
  left: 0;
  border-radius: 0.5px;
  background: var(--font-1);
  transition: all 0.3s linear;
  transform: translateY(6px);
}
.header .hamburger--active span {
  width: 19px;
  height: 1px;
  position: relative;
  background: transparent;
}
.header .hamburger--active span::before {
  transform: rotate(45deg);
  background: var(--font-1);
}
.header .hamburger--active span::after {
  transform: rotate(-45deg);
  background: var(--font-1);
}

@media (max-width: 992px) {
  .header {
    padding: 0;
  }
  .header .nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 15px 20px;
    background: var(--font-2);
    z-index: 3;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
  }
  .header .nav--active {
    opacity: 1;
    visibility: visible;
  }
  .header .nav__list {
    flex-direction: column;
    row-gap: 20px;
  }
  .header .nav__list li:last-child {
    margin-top: 30px;
    display: block;
  }
  .header .nav__link {
    font-size: 18px;
  }
  .header__tel {
    display: none;
  }
  .header .hamburger {
    display: flex;
  }
}
@media (max-width: 576px) {
  .header__logo {
    max-width: 83px;
  }
}
.intro {
  position: relative;
  overflow: hidden;
}
.intro__wrapper {
  display: flex;
  position: relative;
}
.intro__title {
  padding-top: 90px;
  max-width: 583px;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.16;
  color: var(--font-1);
}
.intro__subtitle {
  max-width: 444px;
  margin-top: 28px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--font-1);
}
.intro__right {
  margin-left: auto;
}
.intro__right-img {
  position: relative;
  transform: translate(90px, -60px);
}
.intro__right-img2 {
  display: none;
}
.intro__right .info {
  width: 200px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5.5px;
  background: linear-gradient(131.44deg, rgba(182, 238, 223, 0.45) 0.23%, rgba(209, 248, 238, 0.45) 107.61%);
  -webkit-backdrop-filter: blur(9.22445px);
          backdrop-filter: blur(9.22445px);
  position: absolute;
  top: 190px;
  right: 390px;
  z-index: 2;
}
.intro__right .info__title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  color: var(--font-1);
}
.intro__right .info__text {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: var(--font-1);
  text-align: center;
}
.intro__right .info img {
  margin-top: 14px;
}
.intro__right .info2 {
  width: 155px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5.5px;
  background-color: var(--accent-purple);
  position: absolute;
  top: 380px;
  right: 75px;
  z-index: 2;
}
.intro__right .info2__text {
  margin-top: 9px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--font-2);
  text-align: center;
}

@media (max-width: 1250px) {
  .intro__title {
    font-size: 32px;
    max-width: 475px;
  }
  .intro__right-img {
    width: 550px;
    transform: translate(0, 0);
  }
  .intro__right .info {
    width: 155px;
    top: 200px;
    right: 400px;
  }
  .intro__right .info img {
    width: 100px;
  }
  .intro__right .info2 {
    top: 365px;
    right: 135px;
  }
  .intro__right .info2 img {
    width: 90px;
  }
}
@media (max-width: 992px) {
  .intro__title {
    padding-top: 50px;
  }
  .intro__wrapper {
    flex-direction: column;
  }
  .intro__right {
    margin: 0 auto;
    position: relative;
  }
  .intro__right .info {
    width: 155px;
    top: 75px;
    left: 50%;
    transform: translateX(-170%);
  }
  .intro__right .info2 {
    top: 350px;
    right: auto;
    left: 50%;
    transform: translateX(30%);
  }
}
@media (max-width: 576px) {
  .intro .container {
    padding: 0;
  }
  .intro__wrapper {
    row-gap: 15px;
  }
  .intro__left {
    padding: 0 10px;
  }
  .intro__title {
    padding-top: 20px;
    max-width: 100%;
    font-size: 20px;
  }
  .intro__subtitle {
    padding: 0;
    margin-top: 12px;
    font-size: 14px;
    max-width: 100%;
  }
  .intro__right-img {
    display: none;
  }
  .intro__right-img2 {
    display: block;
  }
  .intro__right .info {
    width: 124px;
    padding: 6px;
    top: 10px;
    transform: translateX(-122%);
  }
  .intro__right .info__title {
    font-size: 10px;
  }
  .intro__right .info__text {
    font-size: 10px;
  }
  .intro__right .info img {
    width: 65px;
  }
  .intro__right .info2 {
    width: 95px;
    padding: 8px;
    top: 197px;
    transform: translateX(55%);
  }
  .intro__right .info2__text {
    font-size: 10px;
  }
  .intro__right .info2 img {
    width: 72px;
  }
}
.about {
  transform: translateY(-100px);
}
.about__wrapper {
  display: flex;
  align-items: center;
}
.about__img {
  transform: translate(-100px, 30px);
  position: relative;
}
.about__img::before {
  content: url("../images/about/img-before.png");
  position: absolute;
  top: -340px;
  left: -180px;
  z-index: -1;
}
.about__content {
  flex: 1 0 593px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.about__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.16;
  color: var(--font-1);
}
.about__text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--font-1);
}

@media (max-width: 1250px) {
  .about {
    margin-top: 50px;
    position: relative;
    transform: translateY(0);
  }
  .about__wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .about__content {
    flex: auto;
    margin-left: 0;
  }
  .about__title {
    max-width: 700px;
  }
  .about__text {
    max-width: 700px;
  }
  .about__img {
    margin: 0 auto;
    transform: translate(0, 0);
  }
  .about__img::before {
    opacity: 0.4;
    top: -240px;
    left: 50%;
    transform: translateX(-180%);
  }
}
@media (max-width: 576px) {
  .about__title {
    font-size: 18px;
  }
  .about__text {
    margin-top: 12px;
    font-size: 14px;
  }
}
.get {
  width: 100%;
}
.get__bg {
  width: 100%;
  height: 100%;
  transform: translateY(-245px);
  position: absolute;
  background-image: url("../images/get/get-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.get__wrapper {
  position: relative;
}
.get__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.get__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.get__item {
  flex: 1 1 285px;
  padding: 22px 16px 14px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #b8bce7;
  background: rgba(255, 255, 255, 0.68);
}
.get__item-icon {
  width: 53px;
  height: 53px;
  margin: 0 auto;
}
.get__item-title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.get__item-text {
  margin-top: 6px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-3);
}

@media (max-width: 1200px) {
  .get__bg {
    transform: translateY(-245px);
    background-position: 5% -235px;
  }
  .get__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .get {
    margin-top: 50px;
  }
  .get__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 576px) {
  .get__title {
    font-size: 18px;
  }
  .get__items {
    margin-top: 14px;
    gap: 12px;
  }
  .get__item {
    padding: 22px 16px 14px;
  }
  .get__item-icon {
    width: 36px;
    height: 36px;
  }
  .get__item-title {
    margin-top: 10px;
    font-size: 18px;
  }
  .get__item-text {
    margin-top: 6px;
    font-size: 12px;
  }
}
.benefits {
  margin-top: 160px;
  position: relative;
}
.benefits__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.benefits__wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.benefits__left {
  flex: 1 0 560px;
}
.benefits__list {
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.benefits__list li {
  max-width: 500px;
  line-height: 1.6;
  list-style: disc;
  list-style-type: disc;
}
.benefits__list li p {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--font-1);
}
.benefits__img {
  margin-left: auto;
  filter: drop-shadow(0px 8px 31.1px rgba(0, 0, 0, 0.14));
}
.benefits__img img {
  width: 562px;
}

@media (max-width: 992px) {
  .benefits__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
  .benefits__left {
    flex: auto;
  }
  .benefits__list li {
    max-width: 100%;
  }
  .benefits__img {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .benefits {
    margin-top: 80px;
  }
}
@media (max-width: 576px) {
  .benefits__title {
    font-size: 18px;
  }
  .benefits__list {
    padding-left: 26px;
    row-gap: 8px;
  }
  .benefits__list li p {
    font-size: 14px;
  }
}
.features {
  margin-top: 146px;
}
.features__title {
  max-width: 557px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.features__items {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px 20px;
}
.features .item {
  min-height: 267px;
  padding: 28px 16px 16px;
  border: 1px solid #b8bce7;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.features .item__img {
  margin: 0 auto;
  width: 155px;
  height: 157px;
  display: flex;
  background-image: url("../images/features/icon-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.features .item__img img {
  width: 94px;
  height: 94px;
  margin: auto;
}
.features .item__text {
  margin-top: -15px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-1);
  text-align: center;
}

@media (max-width: 992px) {
  .features__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .features {
    margin-top: 80px;
  }
  .features__title {
    font-size: 18px;
  }
  .features__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .features .item {
    min-height: auto;
    padding: 28px 16px;
  }
  .features .item__img {
    width: 100px;
    height: 100px;
  }
  .features .item__img img {
    width: 64px;
    height: 64px;
  }
  .features .item__text {
    margin-top: 5px;
  }
}
@media (max-width: 576px) {
  .features .item {
    min-height: auto;
    padding: 10px 16px 12px;
  }
  .features .item__img {
    width: 64px;
    height: 64px;
  }
  .features .item__img img {
    width: 36px;
    height: 36px;
  }
  .features .item__text {
    margin-top: 5px;
  }
}
.assess {
  margin-top: 170px;
}
.assess__bg {
  width: 100%;
  height: 100%;
  transform: translateY(-215px);
  position: absolute;
  background-image: url("../images/assess/asses-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.assess__title {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.assess__subtitle {
  position: relative;
  max-width: 540px;
  margin: 14px auto 0;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--font-3);
  text-align: center;
}
.assess__wrapper {
  position: relative;
  margin-top: 32px;
  display: flex;
}
.assess__img {
  position: absolute;
  transform: translateX(-97px);
}
.assess__img img {
  width: 583px;
}
.assess__items {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(2, 322px);
  gap: 20px;
}
.assess .item {
  padding: 22px 36px 36px;
  background: #ffffff;
  box-shadow: 0px 14.062px 18.7px rgba(210, 210, 210, 0.68);
  border-radius: 5.27324px;
}
.assess .item__num {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.16;
  color: var(--accent-green);
}
.assess .item__text {
  margin-top: 18px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-1);
}

@media (max-width: 1350px) {
  .assess__img {
    position: relative;
    transform: translateX(-20px);
  }
  .assess__img img {
    width: 470px;
  }
}
@media (max-width: 1170px) {
  .assess__items {
    flex: 1 0 500px;
    grid-template-columns: repeat(2, 1fr);
  }
  .assess .item {
    padding: 22px 25px 36px;
  }
  .assess .item__text {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .assess__wrapper {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .assess__img {
    margin: 0 auto;
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .assess {
    margin-top: 80px;
  }
}
@media (max-width: 576px) {
  .assess__title {
    font-size: 18px;
  }
  .assess__subtitle {
    font-size: 14px;
  }
  .assess__wrapper {
    margin-top: 14px;
  }
  .assess__items {
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
  }
  .assess .item {
    padding: 22px 24px 24px;
  }
  .assess .item__num {
    font-size: 22px;
  }
  .assess .item__text {
    margin-top: 10px;
  }
}
.manual {
  margin-top: 160px;
}
.manual__bg {
  width: 100%;
  height: 100%;
  transform: translateY(75px);
  position: absolute;
  background-image: url("../images/manual/manual-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.manual__title {
  max-width: 500px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.manual__items {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}
.manual__item {
  padding: 24px 38px;
  display: flex;
  flex-direction: column;
  border: 1px solid #b8bce7;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.manual__item-img {
  margin: 0 auto;
}
.manual__item-title {
  margin: 20px 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.manual__item-text {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-1);
}

@media (max-width: 992px) {
  .manual__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .manual {
    margin-top: 80px;
  }
  .manual__bg {
    display: none;
  }
  .manual__item-img {
    width: 106px;
    height: 109px;
  }
}
@media (max-width: 576px) {
  .manual__item {
    padding: 24px;
  }
  .manual__item-img {
    width: 60px;
    height: 60px;
  }
  .manual__item-title {
    margin: 8px 0;
    font-size: 16px;
  }
  .manual__item-text {
    font-size: 14px;
  }
}
.result {
  margin-top: 160px;
  position: relative;
}
.result__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.16;
  color: var(--font-1);
  text-align: center;
}
.result__items {
  margin-top: 33px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.result__item {
  padding: 16px 24px 22px;
  border-radius: 5.27324px;
  box-shadow: 0px 14.062px 18.7px rgba(225, 225, 225, 0.68);
  background: #ffffff;
}
.result__item-num {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.16;
  color: var(--accent-green);
}
.result__item-text {
  margin-top: 18px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-1);
}
.result__steps {
  margin-top: 21px;
  padding: 24px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #b8bce7;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(147.25deg, rgba(255, 255, 255, 0.16) 0.9%, rgba(56, 193, 157, 0.0496) 183.3%);
}
.result__step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result__step-text {
  max-width: 94px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-1);
}

@media (max-width: 992px) {
  .result__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .result__steps {
    display: grid;
    grid-template-columns: 95px 112px 95px;
    gap: 50px;
  }
  .result__step-arrow:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 768px) {
  .result {
    margin-top: 80px;
  }
}
@media (max-width: 576px) {
  .result__title {
    font-size: 18px;
  }
  .result__items {
    margin-top: 14px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  .result__item {
    padding: 22px 24px 24px;
  }
  .result__item-num {
    font-size: 22px;
  }
  .result__item-text {
    margin-top: 12px;
  }
  .result__steps {
    margin-top: 12px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .result__step-arrow {
    width: 36px;
    margin: 0 auto;
    transform: rotate(90deg);
  }
  .result__step-arrow:nth-of-type(2) {
    display: block;
  }
  .result__step-icon {
    width: 60px;
    height: 60px;
  }
  .result__step-text {
    max-width: 224px;
  }
}
.footer {
  margin-top: 160px;
  padding: 32px 0;
  background-color: #30263d;
}
.footer__wrapper {
  display: flex;
}
.footer__text {
  max-width: 488px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-2);
}
.footer__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__tel, .footer__email {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 18.5px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  color: var(--font-2);
  transition: all 0.2s linear;
}
.footer__tel svg, .footer__email svg {
  fill: var(--font-2);
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .footer__tel:hover, .footer__email:hover {
    color: var(--accent-green);
  }
  .footer__tel:hover svg, .footer__email:hover svg {
    fill: var(--accent-green);
  }
}
@media (hover: none) {
  .footer__tel:active, .footer__email:active {
    color: var(--accent-green);
  }
  .footer__tel:active svg, .footer__email:active svg {
    fill: var(--accent-green);
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--font-2);
  transition: all 0.2s linear;
}
.footer__socials-link svg {
  fill: #30263d;
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .footer__socials-link:hover {
    background-color: var(--accent-green);
  }
  .footer__socials-link:hover svg {
    fill: var(--font-2);
  }
}
@media (hover: none) {
  .footer__socials-link:active {
    background-color: var(--accent-green);
  }
  .footer__socials-link:active svg {
    fill: var(--font-2);
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 32px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }
  .footer__text {
    text-align: center;
  }
  .footer__contacts {
    margin: 0;
    row-gap: 28px;
  }
  .footer__socials {
    justify-content: center;
  }
  .footer__tel, .footer__email {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 80px;
  }
}
@media (max-width: 576px) {
  .footer__text {
    font-size: 14px;
  }
  .footer__tel, .footer__email {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */