@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-Medium.woff'), url('../fonts/Mulish-Medium.woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-SemiBold.woff'),
		url('../fonts/Mulish-SemiBold.woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-Bold.woff'), url('../fonts/Mulish-Bold.woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-ExtraBold.woff'),
		url('../fonts/Mulish-ExtraBold.woff2');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.woff'), url('../fonts/Gilroy-Light.woff2');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff'),
		url('../fonts/Gilroy-ExtraBold.woff2');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
