.benefits {
	padding: 75px 0;
	position: relative;

	&__wrapper {
		margin-top: 30px;
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	&__list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	&__item {
		padding: 25px;
		display: flex;
		align-items: flex-start;
		column-gap: 20px;
		border: 1px solid #abc2bc;
		border-radius: 15px;
		backdrop-filter: blur(10px);
		background: linear-gradient(
			147.25deg,
			rgba(255, 255, 255, 0.16) 0.9%,
			rgba(56, 193, 157, 0.0496) 183.3%
		);

		&-img {
			min-width: 40px;
			max-width: 40px;
		}

		&-text {
			font-weight: 600;
			font-size: 16px;
			line-height: 1.5;
			color: var(--text);
		}
	}

	&__img {
		max-width: 500px;
		margin-left: auto;
	}
}

@media (max-width: 992px) {
	.benefits {
		&__wrapper {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 30px;
		}

		&__img {
			margin: 0 auto;
		}
	}
}

@media (max-width: 767px) {
	.benefits {
		padding: 50px 0;

		&__list {
			row-gap: 15px;
		}

		&__item {
			padding: 20px;
			flex-direction: column;
			align-items: center;

			&-icon {
				margin: 0;
			}

			&-text {
				margin-top: 15px;
				text-align: center;
			}
		}
	}
}
