.features {
	padding: 75px 0;

	&__title {
		max-width: 450px;
		margin: 0 auto;
	}

	&__items {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}

	.item {
		min-height: 267px;
		padding: 28px 16px 16px;
		border: 1px solid #b8bce7;
		border-radius: 15px;
		backdrop-filter: blur(10px);
		background: linear-gradient(
			147.25deg,
			rgba(255, 255, 255, 0.16) 0.9%,
			rgba(56, 193, 157, 0.0496) 183.3%
		);

		&__img {
			margin: 0 auto;
			width: 155px;
			height: 157px;
			display: flex;
			background-image: url('../images/features/icon-bg.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			img {
				width: 94px;
				height: 94px;
				margin: auto;
			}
		}

		&__text {
			margin-top: -15px;
			font-weight: 600;
			font-family: 'Mulish', sans-serif;
			font-size: 16px;
			line-height: 1.5;
			color: var(--font-1);
			text-align: center;
		}
	}
}

@media (max-width: 992px) {
	.features {
		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 768px) {
	.features {
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}

		.item {
			min-height: auto;
			padding: 28px 16px;

			&__img {
				width: 100px;
				height: 100px;

				img {
					width: 64px;
					height: 64px;
				}
			}

			&__text {
				margin-top: 5px;
			}
		}
	}
}

@media (max-width: 576px) {
	.features {
		.item {
			min-height: auto;
			padding: 10px 16px 12px;

			&__img {
				width: 64px;
				height: 64px;

				img {
					width: 36px;
					height: 36px;
				}
			}

			&__text {
				margin-top: 5px;
			}
		}
	}
}
