.intro {
	position: relative;

	&__wrapper {
		padding: 100px 0;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__left {
		position: relative;
	}

	&__title {
		max-width: 600px;
		font-family: 'Gilroy', sans-serif;
		font-weight: 800;
		font-size: 38px;
		line-height: 1.16;
		color: var(--text);
	}

	&__subtitle {
		max-width: 600px;
		margin-top: 28px;
		font-family: 'Mulish', sans-serif;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.5;
		color: var(--text);
	}

	&__img {
		max-width: 400px;
		margin-left: auto;
		position: relative;

		background-image: url('../images/intro/intro-icon-bg-green.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		img {
			z-index: 1;
		}
	}

	&__right {
		margin-left: auto;

		&-img {
			position: relative;
			transform: translate(90px, -60px);
		}

		&-img2 {
			display: none;
		}

		.info {
			width: 200px;
			padding: 43px 13px 13px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 5.5px;
			background: linear-gradient(
				131.44deg,
				rgba(182, 238, 223, 0.45) 0.23%,
				rgba(209, 248, 238, 0.45) 107.61%
			);
			backdrop-filter: blur(9.22445px);

			position: absolute;
			top: 240px;
			right: 390px;
			z-index: 2;

			&__arrow {
				position: absolute;
				top: 13px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.info2 {
			width: 155px;
			padding: 12px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 5.5px;
			background-color: var(--accent-purple);

			position: absolute;
			top: 380px;
			right: 75px;
			z-index: 2;

			&__text {
				margin-top: 9px;
				font-family: 'Mulish', sans-serif;
				font-weight: 600;
				font-size: 14px;
				line-height: 1.2;
				color: var(--white);
				text-align: center;
			}
		}
	}
}

@media (max-width: 1169px) {
	.intro {
		&__img {
			max-width: 350px;
		}
	}
}

@media (max-width: 991px) {
	.intro {
		&__wrapper {
			padding: 50px 0;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		&__img {
			margin: 50px auto 0;
		}
	}
}

@media (max-width: 767px) {
	.intro {
		&__title {
			font-size: 26px;
		}

		&__subtitle {
			margin-top: 20px;
			font-size: 16px;
		}

		&__img {
			margin: 25px auto 0;
			max-width: 290px;
		}
	}
}
