.vision {
	padding: 75px 0;

	&__bg {
		width: 100%;
		height: 100%;
		transform: translateY(-385px);
		position: absolute;
		background-image: url('../images/get/get-bg.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		pointer-events: none;
	}

	&__items {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-radius: 15px;
		position: relative;

		&:before {
			content: '';
			width: 100px;
			height: 100px;
			background-color: var(--accent-green);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__item {
		padding: 35px 60px;
		display: flex;
		flex-direction: column;
		row-gap: 50px;
		border-radius: 15px;
		backdrop-filter: blur(10px);

		&:nth-child(1),
		&:nth-child(4) {
			background-color: var(--accent-green);
			.vision__item-icon svg {
				fill: var(--white);
			}

			.vision__item-text {
				color: var(--white);
			}
		}

		&:nth-child(2),
		&:nth-child(3) {
			background-color: var(--white);
			.vision__item-icon svg {
				fill: var(--accent-green);
			}
			.vision__item-text {
				color: var(--text);
			}
		}

		&-text {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
			color: var(--text);
		}

		&-icon {
			min-width: 50px;
			width: 50px;

			svg {
				width: 50px;
			}
		}
	}
}

@media (max-width: 991px) {
	.vision {
		&__item {
			padding: 35px;
			row-gap: 25px;
		}
	}
}

@media (max-width: 767px) {
	.vision {
		padding: 50px 0;

		&__items {
			grid-template-columns: 1fr;

			&::before {
				content: none;
			}
		}

		&__item {
			padding: 20px;

			&:nth-child(odd) {
				background-color: var(--accent-green);

				.vision__item-icon svg {
					fill: var(--white);
				}

				.vision__item-text {
					color: var(--white);
				}
			}

			&:nth-child(even) {
				background-color: var(--white);

				.vision__item-icon svg {
					fill: var(--accent-green);
				}

				.vision__item-text {
					color: var(--text);
				}
			}
		}
	}
}
